# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://omkar:YOUR_PASSWORD@cluster0.bzbhymi.mongodb.net/BatteryVitals?retryWrites=true&w=majority&appName=Cluster0

# Server Port
PORT=3000

# Gemini AI Key (get from https://aistudio.google.com/apikey)
GEMINI_API_KEY=AIzaSy...your_key_here
